/// ADAPTIVE ///

$minW: 320px;
$maxW: 1920;
$maxWC: 1110px;
$md1: 1146px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

/// COLORS ///
$main: whitesmoke;
$main2: #eec0c8;
$main3: #e2acb5;
$main4: #be9299;
$gray: #5c5a5a;

/// FONT-FAMILY ///

$ff: "Montserrat";
