@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "GR";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  cursor: default;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

.firstscreen {
  background: url("../img/main/bg-main.jpg") 0 0/cover no-repeat;
}

.btn {
  display: inline-block;
  color: whitesmoke;
  background-color: #eec0c8;
  padding: 20px 50px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 80px;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  -webkit-box-shadow: 0 6px #be9299, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 6px #be9299, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
}

.btn:active {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
  -webkit-box-shadow: 0 2px #be9299, 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px #be9299, 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
}

.btn:hover {
  background-color: #e2acb5;
}

.header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__wrapper {
  padding: 10px 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  font-size: 18px;
  position: relative;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu ul li {
  margin-right: 40px;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu-link {
  color: whitesmoke;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.header__menu-link:hover {
  color: #eec0c8;
}

.header__menu-link:active {
  color: #e2acb5;
}

.header__tel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.header__tel:hover {
  color: #eec0c8;
}

.header__tel:active {
  color: #e2acb5;
}

.header__icons-tel {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.logo-tulp {
  width: 40px;
  margin-right: -20px;
}

.logo-rose {
  width: 40px;
}

.logo-rose:first-child {
  margin-right: -20px;
}

.main {
  color: whitesmoke;
}

.main__wrapper {
  padding: 245px 0 140px 0;
}

.main h1 {
  font-size: 60px;
  font-weight: 700;
  max-width: 450px;
  text-shadow: 1px 1px 6px #eec0c8;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.main h3 {
  font-size: 26px;
  max-width: 450px;
  font-weight: 500;
  color: whitesmoke;
  text-shadow: 1px 1px 6px #eec0c8;
  margin-bottom: 80px;
}

.main h3 span {
  color: #eec0c8;
  font-weight: 700;
  text-shadow: none;
}

.about {
  background: url("../img/about/bg-about.jpg") 0 0/cover no-repeat;
}

.about__wrapper {
  padding: 140px 0;
  text-align: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: center;
  margin-left: 55px;
}

.about__info h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 1px 1px 6px #eec0c8;
  margin-bottom: 40px;
}

.about__info p {
  text-align: justify;
  color: whitesmoke;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 6px #5c5a5a;
}

.about__button {
  margin-bottom: 0;
}

.swiper-slide-image img {
  width: 500px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #eec0c8 !important;
}

.catalog {
  background: url("../img/catalog/bg-catalog.jpg") 0 0/cover no-repeat;
}

.catalog__wrapper {
  text-align: center;
  padding: 120px 0;
}

.catalog__listing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.catalog__listing-item img {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.catalog__listing-item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.catalog__listing-item p {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1em;
  z-index: 2;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 20px;
}

.catalog__button {
  cursor: pointer;
  margin-bottom: 10px;
}

/* Стили для списка вкладок */

.tab-header {
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

/* Стили для вкладки */

.tab-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 350px;
  height: 61px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: #eec0c8;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 6px #be9299;
          box-shadow: 0 6px #be9299;
}

.tab-header__item:active {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
  -webkit-box-shadow: 0 2px #be9299;
          box-shadow: 0 2px #be9299;
}

.tab-header__item:hover {
  background-color: #e2acb5;
}

.tab-header__item.active {
  -webkit-box-shadow: 0 2px #be9299;
          box-shadow: 0 2px #be9299;
  background-color: whitesmoke;
  color: #eec0c8;
}

.tab-content__item {
  display: none;
}

.tab-content__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: none;
}

.tab-content__item-wrapper {
  margin: 0 10px;
  max-width: 350px;
  width: 100%;
}

@media (max-width: 1146px) {
  .tab-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 300px;
    margin-bottom: 25px;
    margin-right: 25px;
  }

  .tab-header__item:nth-child(n + 4) {
    margin-bottom: 0;
  }

  .tab-header__item:nth-child(3),
  .tab-header__item:nth-child(6) {
    margin-right: 0;
  }

  .tab-content__item.active {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .tab-content__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 350px;
  }
}

@media (max-width: 991.98px) {
  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 320px;
    width: 100%;
    margin: 0;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 25px;
  }

  .tab-header__item:nth-child(-n + 4) {
    margin-bottom: 25px;
  }
}

@media (max-width: 767.98px) {
  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 250px;
    width: 100%;
    margin: 0;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 25px;
  }

  .tab-header__item:nth-child(-n + 4) {
    margin-bottom: 25px;
  }

  .tab-content__item.active {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .tab-content__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 350px;
  }
}

@media (max-width: 551px) {
  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 200px;
    width: 100%;
    margin: 0;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 25px;
  }

  .tab-header__item:nth-child(-n + 4) {
    margin-bottom: 25px;
  }
}

@media (max-width: 479.98px) {
  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 350px;
    width: 100%;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 0;
  }

  .tab-header__item:nth-child(-n + 5) {
    margin-bottom: 25px;
  }

  .tab-content__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 350px;
    width: 100%;
  }
}
@supports (-webkit-appearance:none){
.firstscreen{background:url("../img/main/bg-main.webp") 0 0/cover no-repeat}
.about{background:url("../img/about/bg-about.webp") 0 0/cover no-repeat}
.catalog{background:url("../img/catalog/bg-catalog.webp") 0 0/cover no-repeat}
}

 @media (max-width: 1146px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 551px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
